<div class="flex flex-col justify-between h-full">
  {{#each content}} {{> section section=this isMain=../isMain}} {{/each}} 

  {{#if contentFooter }}
  <footer class="pt-4 text-xs text-justify text-footer">
    {{{ contentFooter }}}
  </footer>
  {{/if}}
</div>